Source: batman-adv-kernelland
Section: kernel
Priority: extra
Maintainer: Simon Wunderlich <siwu@hrz.tu-chemnitz.de>
Uploaders: Sven Eckelmann <sven.eckelmann@gmx.de>
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: bzip2
Vcs-Git: git://gitorious.org/batman-adv-kernelland-deb-pkg/mainline.git
Vcs-Browser: http://gitorious.org/projects/batman-adv-kernelland-deb-pkg/repos/mainline/trees/master
Homepage: http://www.open-mesh.net/
Standards-Version: 3.8.1

Package: batman-adv-source
Architecture: all
Depends: module-assistant, debhelper (>= 7), make, bzip2
Recommends: batman-adv-battool
Description: Source for the batman-advanced kernel module
 This package provides the source code for the batman-adv-source kernel modules.
 Kernel source or headers are required to compile these modules.
 .
 B.A.T.M.A.N. (better approach to mobile ad-hoc networking) is a new routing 
 protocol for multi-hop ad-hoc mesh networks. B.A.T.M.A.N.-advanced is the 
 implementation of this protocol on ISO/OSI Layer 2, allowing mesh networks 
 to be used as a virtual switch. With this approach, LANs and WANs can be 
 easily integrated, and more protocols (like DHCP, IPv6) are supported.
